.header {
  width: 100vw;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
  width: 300px;
}
